@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    
}

 /*  !add to cart  */
  .card{
    width:350px;
    text-align: center;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 50px;
 text-align: left;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0 30px 40px;
    margin-top: 20px;
  }

  .card h1{
font-size: 25px;
  
  }
  .card h4{
    margin: 10px 0;
    
  }
  .card p{
      font-size: 13px;
      margin: 5px 0;
  }
  .card .payment__option{

       margin: 15px auto;
    border: 1px solid black;
    text-align: left;
    padding: 5px 10px;
  }
  .card__button button{

  }

  .card__button *{
 width: 15%;
 height: 35px;
    font-size: 15px;
    text-align: center;
   border: 1px solid black;
    outline: none;   
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
   .bye__btn{
  width: 30%;
  margin-left: 50px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: blue;
  color: white;
 border: none;
 outline: none;
 border-radius: 5px;
 cursor: pointer;
 transition: .5s;
}
.bye__btn:hover{
    transform: scale(1.09);
}

/*  !ends  */


/*  range slider */

.range__slider {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px dotted black;
  padding: 50px;
}
.range__slider label{
  font-size: 20px;
  font-weight: bold;
}
  #volume{
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 350px;
    background-color: skyblue;
    border-radius: 20px;
  }

  #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: blue;
    cursor: pointer;
    border-radius: 50%;
  }
  .range__slider span{
    display: inline-block;
   width: 80px;
   height: 30px;
   text-align: center;
   line-height: 30px;
    background-color: tomato;
 font-size: 25px;
  color: white;
 
  }


  /*  todo form design */

    form {
      width: 35%;
margin: 80px 0 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 30px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
    }
     form h1{
    margin: 15px 0;
     }
     form input{
      width: 85%;
      margin: 8px 0;
      padding: 15px;
      font-size: 15px;
     
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.226);
      outline: none;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
     }

     .form__btn button{
           width: 40%;
           height: 40px;
           margin: 15px 20px 15px 0;
           padding: 5px 10px;
           font-size: 13px;
           text-transform: uppercase;
           background-color: blue;
           color: white;
           border: none;
           outline: none;
           font-weight: bold;
           letter-spacing: 3px;
           border-radius: 10px;
           transition: .5s;
     }
     .form__btn button:hover{
      transform: scale(1.08);
     }
     
     .eye__btn,.eye__btn_2{

      width: 10%;
      height:45px;
  border: none;
  outline: none;
  background: transparent;
font-size: 25px;
     }

     /*  ! colourzie button */

        .box{
          width: 35%;
          padding: 180px 0;
          text-align: center;
          background-color: salmon;
        border-radius: 8px;
        }
        .box .colour__btn{
     background-color: blue;
        padding: 13px;
        font-size: 15px;
        text-transform: uppercase;
        border: none;
        outline: none;
        font-weight: bold;
        color: white;
 border-radius: 10px;
 transition: .5s;
 cursor: pointer;
        }
        .colour__btn:hover{
          transform: scale(1.08);
        }